<script>
	let newTodo = "";
	export let onSubmit;
	const handleFormSubmit = e => {
	  e.preventDefault();
	  if (!newTodo) return;
	  onSubmit(newTodo);
	  newTodo = "";
	};
  </script>
  <br/>
  {#each newTodo as item, index}
	  <input bind:checked={item.status} type="checkbox">
	  <span class:checked={item.status}>{item.text}</span>
	  <br/>
  {/each} 
  
  <style>
	.newtodo {
	  height: 20px;
	  padding-left: 10px;
	  margin-right: 10px;
	  flex: 1;
	}
  
	.addItem-btn {
	  background-color: blueviolet;
	  color: white;
	  padding: 5px 10px;
	  border: none;
	  border-radius: 4px;
	}
  
	form {
	  width: 100%;
	  display: flex;
	  flex-wrap: wrap;
	}
	.checked {
        text-decoration: line-through;
    }
  </style>
  
  <form on:submit={handleFormSubmit}>
  <input class="newtodo" type="text" bind:value={newTodo}>
  <button class="addItem-btn" type="submit">Добавить...</button>
  </form>